n8n-flows/DannyTrades-DASH-Agent_v1.json
{
  "name": "DannyTrades-DASH-Agent_v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        448
      ],
      "id": "ae8eba0c-6220-4f2a-a6e1-d299c410cbbb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "text": "=You are a data extraction and orgnization agent. You will be given the raw content of an email that contains stock-related data. Your task is to parse the text, extract relevant information for each stock mentioned, and structure it into valid JSON based on the schema provided below.\n\n\nImportant Rules:\n - Pay close attention what red and yellow candles are mantioned\n - Provide concise summary with the most important points in the misc section of each stock.\n - Dont provide any data that does not exsist.\n - Determine the bulishnesh level of each stock from the provided context. There can only be one value, Hot or Extreme Bulish. Never provide both values. Pay attention to the following signs to determine the bulishness level:\n  - Extreme Bulish (multiple signs) such as: Red Candle in Force,  successfully broke through the critical resistance, closed above the upper boundary of the volatility hole, red candles on all time frames, Emerging Red Ribbons, MACD Golden Cross\n  - Hot (single sign) - Hot stock, Red Candle\n- When updating hot / Extreme bulish indicators - pay attention if the stock is expiriencing a downtrend or have multiple yellow candles on multiple time frames. Such stocks should not be tagged at all.\n - Provide only the most imporant support and resistance levels. Each stock should not have more than 3 support and ressitance levels.\nEach stock should be represented by a JSON object using its symbol (e.g., AMD, NVDA) as the symbol field.\n\nOnly include fields if data is explicitly present. Do not invent or hallucinate values.\n\nOutput a single JSON object structured as follows:\n{\n  \"stocks\": [\n    {\n      \"symbol\": \"string\",\n      \"ticker_name\": \"string\",\n      \"volatility_hole\": \"string\",\n      \"red_candle\": {\n        \"daily\": \"boolean\",\n        \"weekly\": \"boolean\",\n        \"monthly\": \"boolean\"\n      },\n      \"yellow_candle\": {\n        \"daily\": \"boolean\",\n        \"weekly\": \"boolean\",\n        \"monthly\": \"boolean\"\n      },\n      \"whale_accumulation\": {\n        \"daily\": \"string\",\n        \"weekly\": \"string\",\n        \"monthly\": \"string\"\n      },\n      \"technical_indicators\": {\n        \"support_levels\": [\n          \"number\"\n        ],\n        \"resistance_levels\": [\n          \"number\"\n        ]\n      },\n  {\n    \"Bulish Level\": [\"Extreme Bulish\", \"Hot\"]\n    },\n    {\n      \"misc_data\": \"string\",\n      \"patreon_link\": \"string\"\n    }\n  ]\n}\n\nExample 1 Expected Output:\n{\n  \"stocks\": [\n    {\n      \"symbol\": \"DUOL\",\n      \"volatility_hole\": \"closed below the lower boundary of the last volatility hole at $489\",\n      \"yellow_candle\": {\n        \"daily\": true\n      },\n      \"whale_accumulation\": {\n        \"daily\": \"decreased to 65.6%\"\n      },\n      \"technical_indicators\": {\n        \"support_levels\": [435, 450, 465, 472],\n        \"resistance_levels\": [480, 488, 493, 500]\n      },\n      \"misc_data\": \"On the daily chart, DUOL has closed below the lower boundary of the last volatility hole at $489 and so more downside would be expected. The last yellow candle remains in force. For the uptrend to resume, a daily close above $540.3 is needed while closing below $510.88 would trigger a deeper pullback, which DUOL is experiencing currently. The pullback continues. Closing Price: $474.9 Technical Indicators: MACD and RSI are slightly curling down.\"\n    },\n      \"patreon_link\": \"https://www.patreon.com/post/id54627\",\n    {\n      \"symbol\": \"SPOT\",\n      \"red_candle\": {\n        \"daily\": true,\n        \"weekly\": true,\n        \"monthly\": true\n      },\n      \"whale_accumulation\": {\n        \"daily\": \"increased to 84.9%\"\n      },\n      \"technical_indicators\": {\n        \"support_levels\": [672, 680, 700],\n        \"resistance_levels\": [718, 723, 750]\n      },\n     \"Bulish Level\": [\"Extreme Bulish\"],\n\n      \"misc_data\": \"SPOT is among the most bullish stocks, displaying bullish red candles across all timeframes, supported by strong technical indicators and robust whale accumulation. The $680.00 level would act as a temporary support level, while $718.00 would serve as a resistance level. It is expected that SPOT remains range-bound between these two price levels before a potential breakout if whale accumulation remains steady and strong. Closing Price: $715.57 Technical Indicators: MACD and RSI are flattening with slight upward curls.\",\n\"patreon_link\": \"https://www.patreon.com/post/id123\",\n    }\n  ]\n}\n\nExample 2 Expected Output:\n{\n  \"stocks\": [\n    {\n      \"symbol\": \"TMDX\",\n      \"red_candle\": {\n        \"daily\": true,\n        \"weekly\": true\n      },\n      \"whale_accumulation\": {\n        \"daily\": \"decreased to 92.19%\"\n      },\n      \"technical_indicators\": {\n        \"support_levels\": [128, 135, 138],\n        \"resistance_levels\": [142, 145, 150]\n      },\n      \"misc_data\": \"The red candles from both daily and weekly charts remain in force, unless there is a daily close below $128.3 and a weekly close below $111.8. The uptrend is accelerating, with $145 as the next critical resistance level. Closing Price: $141.96 Technical Indicators: MACD and RSI are flattening with slight downward curls.\",\n    \"patreon_link\": \"https://www.patreon.com/post/id123456\",\n    {\n      \"symbol\": \"GRAB\",\n      \"volatility_hole\": \"closed below the lower boundary of the volatility hole at $4.80\",\n      \"yellow_candle\": {\n        \"daily\": true\n      },\n      \"whale_accumulation\": {\n        \"daily\": \"increased to 15.69%\"\n      },\n    {\n      \"technical_indicators\": {\n        \"support_levels\": [4.2, 4.5],\n        \"resistance_levels\": [4.85, 4.95, 5.2]\n    }\n      \"misc_data\": \"On the daily chart, GRAB closed below the lower boundary of the volatility hole at $4.80, triggering the recent drop to $4.53 Meanwhile, the last yellow candle from June 10 remains valid. For the uptrend to resume, GRAB must close above $4.97 on a daily basis. Conversely, a daily close below $4.65 could trigger a deeper pullback. The downtrend persists. Closing Price: $4.71 Technical Indicators: MACD is flattening while RSI is curling up.\",\n        \"patreon_link\": \"https://www.patreon.com/post/id123456\"\n    }\n  ]\n}\n\n\nEmail data:\n{{ $json.emailBlob }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"StockEmailExtraction\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"stocks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"symbol\": { \"type\": \"string\" },\n          \"ticker_name\": { \"type\": \"string\" },\n          \"volatility_hole\": { \"type\": \"string\" },\n          \"red_candle\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"daily\": { \"type\": \"boolean\" },\n              \"weekly\": { \"type\": \"boolean\" },\n              \"monthly\": { \"type\": \"boolean\" }\n            },\n            \"additionalProperties\": false\n          },\n          \"yellow_candle\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"daily\": { \"type\": \"boolean\" },\n              \"weekly\": { \"type\": \"boolean\" },\n              \"monthly\": { \"type\": \"boolean\" }\n            },\n            \"additionalProperties\": false\n          },\n          \"whale_accumulation\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"daily\": { \"type\": \"string\" },\n              \"weekly\": { \"type\": \"string\" },\n              \"monthly\": { \"type\": \"string\" }\n            },\n            \"additionalProperties\": false\n          },\n          \"technical_indicators\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"support_levels\": {\n                \"type\": \"array\",\n                \"items\": { \"type\": \"number\" }\n              },\n              \"resistance_levels\": {\n                \"type\": \"array\",\n                \"items\": { \"type\": \"number\" }\n              }\n            },\n            \"required\": [],\n            \"additionalProperties\": false\n          },\n          \"misc_data\": { \"type\": \"string\" },\n          \"patreon_link\": { \"type\": \"string\", \"format\": \"uri\" },\n          \"bullishness_signal\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\"Extreme Bullish\", \"Hot\"]\n            }\n          }\n        },\n        \"required\": [\"symbol\"],\n        \"additionalProperties\": false\n      },\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"stocks\"],\n  \"additionalProperties\": false\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        2592,
        624
      ],
      "id": "7d38d94a-5090-4c27-a851-e25a17e09f15",
      "name": "Information Extractor",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2464,
        1168
      ],
      "id": "f135de1d-69e1-4bc6-909e-f505640f2a41",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fbNB8R2CruaIjoli",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allEmailText = [];\n\nfor (const item of $input.all()) {\n  // Assuming the plain text body is available in item.json.text\n  // You might need to adjust 'item.json.text' if your Gmail node output differs\n  if (item.json.text) {\n    allEmailText.push(item.json.text);\n  }\n}\n\n// Join all extracted text into a single string, separated by newlines\nconst emailBlob = allEmailText.join('\\n\\n---\\n\\n'); // Add a separator for clarity\n\nreturn [\n  {\n    json: {\n      emailBlob: emailBlob\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        592
      ],
      "id": "5506bd0f-3b7b-44aa-90ce-467b3e55b2c8",
      "name": "AppendAllEmails"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {
          "labelIds": [
            "Label_5958665196974924851"
          ]
        }
      },
      "id": "1d7e9425-47ea-420e-8754-0c232c6f782a",
      "name": "Gmail - Get Many",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        16,
        1216
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "rrmgXQyHddfeXfDc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e0462a19-a3b2-4a4b-bbc5-f235c5722b51",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        1248
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "delete",
        "messageId": "={{$json.id}}"
      },
      "id": "e3855196-7cef-4f07-885d-043bbe964d10",
      "name": "Gmail - Delete",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        800,
        1232
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "rrmgXQyHddfeXfDc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        752
      ],
      "id": "c4f71f9a-9e3d-480f-994b-4612bbf07442",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        1216
      ],
      "id": "25d155c1-de5e-4dd7-996d-db611f4e7b43",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "## Workflow Triggers & Initial Email Fetch 📧\n\nThis section handles the initiation of the workflow. It can be triggered manually or on a schedule.\n\n-   **Manual Trigger**: Allows you to start the workflow manually for testing or immediate execution.\n-   **Schedule Trigger**: Automatically runs the workflow at predefined times (e.g., daily at 9:30 AM and 11:30 PM).\n-   **Gmail Nodes**: Fetch emails from your Gmail account that have a specific label ('Label_5958665196974924851'). One path fetches a single email, and another can fetch multiple.",
        "height": 320,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        64
      ],
      "name": "Workflow Triggers & Email Fetch",
      "id": "65f4135a-5559-473c-ba4f-bce50b81217d",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Email Content Aggregation 📦\n\nThis 'AppendAllEmails' Function node collects the plain text body from all incoming Gmail items and consolidates them into a single 'emailBlob' variable. This unified text is then passed on for further processing.",
        "width": 400,
        "color": 4
      },
      "name": "Email Content Aggregation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        304
      ],
      "id": "bf3a850f-38eb-4007-8fc2-21500c9b6955",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI-Powered Information Extraction 🧠\n\nThe 'Information Extractor' node, powered by the 'Google Gemini Chat Model', is responsible for parsing the consolidated email content. It extracts structured stock-related data (e.g., stock symbols, candle types, volatility, whale accumulation, support/resistance levels, bullishness signals, and miscellaneous data) based on a detailed JSON schema. This ensures that only relevant and formatted data is passed to the next stage.",
        "height": 220,
        "width": 500,
        "color": 6
      },
      "name": "AI-Powered Information Extraction",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        368
      ],
      "id": "5210a0d5-6fff-4f58-930b-58a11f2827fc",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Notion Database Management & AI Agent 📊\n\nThis section orchestrates the update and creation of stock entries in your Notion database.\n\n-   **WaitforAgent**: Introduces a pause, allowing for potential manual intervention or ensuring prior steps are complete.\n-   **AI Agent**: This intelligent agent, leveraging another 'Google Gemini Chat Model' and specialized Notion tools ('ListTools', 'NotionMCP'), queries your Notion database to check for existing stock entries. If a stock exists, it updates the relevant properties (e.g., Red/Yellow Candle, Volatility Hole, Whale Accumulation, Hot Stocks, Important Details, Support/Resistance, and Link). If a stock is new, it creates a new page with the extracted information.",
        "height": 280,
        "width": 700
      },
      "name": "Notion Database Management & AI Agent",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2752,
        416
      ],
      "id": "c0e6460e-6b34-48d7-8fc8-86dc7081d791",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Processed Email Deletion 🗑️\n\nThis branch of the workflow is dedicated to managing the emails after they have been processed. It fetches emails (similar to the initial trigger) and then uses a 'Function' node (currently configured with placeholder code) before passing the email IDs to the 'Gmail - Delete' node. This ensures that processed emails are removed from your inbox, keeping it tidy.",
        "height": 200,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "name": "Processed Email Deletion",
      "position": [
        16,
        960
      ],
      "id": "4c91071a-e6d5-4c9a-a50b-f6cfc5111623",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "sender": "DannyTrades <bingo@patreon.com> "
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        608
      ],
      "id": "041be866-3eee-4f22-89b1-6f4a1769604b",
      "name": "Get many messages",
      "webhookId": "6fefb144-43eb-40cc-b018-c1e3db6551e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "rrmgXQyHddfeXfDc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3808,
        624
      ],
      "id": "ec619032-6884-4ff5-8e79-9f48ccfd8cd0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.stocks",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3360,
        672
      ],
      "id": "1a1e7daa-f8a9-4e54-a8dd-6a1a4f7260d2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.68.60:8001/api/dannytrades/agent-analyze",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json['output.stocks']) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4432,
        656
      ],
      "id": "8a2c6f8b-a058-4f41-94c4-db2bd6904eec",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "74f2d889-6e84-4aee-8287-686787cfe3c2",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "How to Get Started with My Patreon Community",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "fb5d19fc-d285-41b7-bb2e-406cd867f1bc",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Dr Cat's Video Insights on",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "268c45d1-04cf-43e9-a669-69a98d0f0a6a",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "For all subscribers: How to read my charts/indicators more accurately",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "809427f1-3442-44ed-afc1-4e3bd86d011f",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Dr Cat's Videos This Week",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "11c554cd-2895-411d-8f3c-85a4da17846c",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Good Morning/Evening",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        608
      ],
      "id": "f9f25419-5ea2-46bc-8185-95934a3c4148",
      "name": "Subject-Based-Filtering"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Get Many",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AppendAllEmails": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get Many": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Gmail - Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Gmail - Get Many",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Subject-Based-Filtering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subject-Based-Filtering": {
      "main": [
        [],
        [
          {
            "node": "AppendAllEmails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12ea9854-878e-436c-81d9-bcd47c0eb56a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d11d4298719538ef712023e9895a6cf17d73d3f85bc247c5fa8be99b806ab6df"
  },
  "id": "FPQv20B4CsCGcR8N",
  "tags": []
}