n8n-flows/YouTube-RSS-Puller.json
{
  "name": "YouTube-RSS-Puller",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8159d367-513c-406b-8ad7-36f65c2e6512",
              "name": "rss_feed_url",
              "type": "string",
              "value": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.youtube_channel_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "131f1be3-3385-4a4d-91bb-3a95bcd1944e",
      "name": "Create RSS Feed URLs1",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.rss_feed_url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "4d7025d9-94a4-4073-b5af-7a204b7ecea9",
      "name": "RSS Read  - Max 15 Latest Videos per Channel",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        1152,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "ids",
        "options": {
          "destinationFieldName": "youtube_channel_id"
        }
      },
      "id": "b7092070-5c5e-44a5-a070-df38d7334c41",
      "name": "Create List of Channel Ids",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        720,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73b9220c-d701-4a29-8aaf-3732d1db0ce6",
              "name": "ids",
              "type": "array",
              "value": "=[ \"UCTrwtSCIyCC5zTcNlVWJddg\", \"UClBMLpP3UHXLmgEypMmXPuA\",\"UCSxjNbPriyBh9RNl_QNSAtw\",\"UCHBRejs5fKvGxsl_rNiFe_Q\",\"UCvJZEG5x-DVYZKTz--pS39w\",\"UCRvqjQPSeaWn-uEx-w0XOIg\",\"UC2Zg12phLyX1KTnH6D47d9g\",\"UClgJyzwGs-GyaNxUHcLZrkg\",\"UC6LOhJgSKMn0sPIWhsdpLrg\",\"UC12lnsYNt8_VthTNOuOGTmQ\",\"UCyTSwVh66Y2Ww_CIIHhuxbw\",\"UCBRpqrzuuqE8TZcWw75JSdw\",\"UCOHxDwCcOzBaLkeTazanwcw\",\"UCUvvj5lwue7PspotMDjk5UA\",\"UCyqlbzLoYtpqDXwRI9Yh5LA\",\"UCQxFhbPxp6VtAMGEF8OWG5g\",\"UC0hYXZl0xei6bj19ilOQprw\",\"UC-jIhZaxorxp2_TXJaWKZcQ\",\"UC7kCeZ53sli_9XwuQeFxLqw\",\"UCty4n3i_1WUdtoJyxHJ6xmQ\",\"UCrGLm-Drgv0vbbemwwHeXJw\",\"UChJdn-FOTmTc7nm-msFTqTQ\", \"UCtpBpVlzN4fbgLKc-Zg-_aA\", \"UCN9Nj4tjXbVTLYWN0EKly_Q\", \"UCcrEA_xd9Ldf1C8DIJYdyyA\", \"UCMno7bbQKigk6RxiO0uv78g\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "2fd4958b-f005-493d-85d4-c5a82ce6984f",
      "name": "YouTube Channel Ids",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5990532e-b91e-4e45-8d67-9c909e1ec2e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.id.replace(\"yt:video:\", \"\") }}",
        "part": [
          "contentDetails",
          "snippet",
          "id",
          "player"
        ],
        "options": {}
      },
      "id": "84a00bbb-5c33-40cc-8fa8-04c8da4c7c2c",
      "name": "Get video details",
      "type": "n8n-nodes-base.youTube",
      "position": [
        1824,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "iR5jsiuAnnqvqm9j",
          "name": "YouTube account"
        }
      },
      "notes": "Make a call to the YouTube API so that we have the thumbnail for the email and the duration to filter out shorts."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a78222-4dab-4cea-ae11-6b9175efea78",
              "leftValue": "={{ $json.snippet.liveBroadcastContent }}",
              "rightValue": "=none",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2784,
        352
      ],
      "id": "9433e9fa-4933-434f-849f-df5e0bf5548f",
      "name": "Filter1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst cutoff = new Date(now.getTime() - 24 * 60 * 60 * 1000); // 24 hours ago\n\nreturn items.filter(item => {\n  const pubDate = new Date(item.json.pubDate);\n  return pubDate > cutoff;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        320
      ],
      "id": "f1e944c1-3acb-4269-8e18-5bc44edd3a32",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Update airtable with videos from the last 24 hours"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        80
      ],
      "typeVersion": 1,
      "id": "2631201e-5297-4b12-8887-8088fb96bccc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9da3da43-ef07-4f71-a763-2bc4b070b9d0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "24ab5b9d-634b-4b98-80cc-d08787b6c8f4",
              "name": "snippet.channelId",
              "value": "={{ $json.snippet.channelId }}",
              "type": "string"
            },
            {
              "id": "bb2cf2f5-6afc-46a2-8c12-96b5cdb3e139",
              "name": "snippet.link",
              "value": "={{ $('RSS Read  - Max 15 Latest Videos per Channel').item.json.link }}",
              "type": "string"
            },
            {
              "id": "e127cee4-c4a5-4a6b-9c52-67f0950a6ffc",
              "name": "title",
              "value": "={{ $('RSS Read  - Max 15 Latest Videos per Channel').item.json.title }}",
              "type": "string"
            },
            {
              "id": "67e25197-7947-4110-a213-9ca3d5789d37",
              "name": "snippet.publishedAt",
              "value": "={{ $json.snippet.publishedAt }}",
              "type": "string"
            },
            {
              "id": "015c4c2b-f2d6-4665-bc33-a5ad80167a7b",
              "name": "duration",
              "value": "={{ Duration.fromISO($json.contentDetails.duration).as('seconds') }}",
              "type": "string"
            },
            {
              "id": "8ff32b55-7ec8-4743-8d29-df9ebd3c83e1",
              "name": "snippet.liveBroadcastContent",
              "value": "={{ $json.snippet.liveBroadcastContent }}",
              "type": "string"
            },
            {
              "id": "f3932511-3823-42d9-aefd-36b430221284",
              "name": "snippet.channelTitle",
              "value": "={{ $('Get video details').item.json.snippet.channelTitle }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        320
      ],
      "id": "f6c3037f-f76f-40c3-ac5a-02fd86f6a714",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.snippet.publishedAt }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3072,
        480
      ],
      "id": "c31ab948-7bd7-49fd-876b-2bb94c11841a",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3392,
        352
      ],
      "id": "6b12051e-3086-4312-85ae-63274c27983b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1O8BI7U4tu30eXkpf_kUGWBMw7ubC2K6WlDVQWIxie5w",
          "mode": "list",
          "cachedResultName": "Yotutbe-Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8BI7U4tu30eXkpf_kUGWBMw7ubC2K6WlDVQWIxie5w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8BI7U4tu30eXkpf_kUGWBMw7ubC2K6WlDVQWIxie5w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "channelid": "={{ $json.snippet.channelId }}",
            "title": "={{ $json.title }}",
            "link": "={{ $json.snippet.link }}",
            "channel_name": "={{ $json.snippet.channelTitle }}",
            "publish_date": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "channelid",
              "displayName": "channelid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel_name",
              "displayName": "channel_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publish_date",
              "displayName": "publish_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdTime",
              "displayName": "createdTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4304,
        144
      ],
      "id": "03b7551a-abe4-4978-8d84-d4ab08f38c97",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vp6r3WvD9Wgp3NnW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create RSS Feed URLs1": {
      "main": [
        [
          {
            "node": "RSS Read  - Max 15 Latest Videos per Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create List of Channel Ids": {
      "main": [
        [
          {
            "node": "Create RSS Feed URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Channel Ids": {
      "main": [
        [
          {
            "node": "Create List of Channel Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read  - Max 15 Latest Videos per Channel": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "YouTube Channel Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video details": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get video details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b2b11d9-651e-4f98-808d-732c33406d99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d11d4298719538ef712023e9895a6cf17d73d3f85bc247c5fa8be99b806ab6df"
  },
  "id": "lba2Pft9bNEKRzVv",
  "tags": []
}